{#
/**
 * @file
 * Available variables:
 *
 * site_logo: Logo for site as defined in Appearance or theme settings.
 * site_name: Name for site as defined in Site information settings.
 * site_slogan: Slogan for site as defined in Site information settings
 * content: Containts the above vars with more information.
 * lockup: Settings from the theme.
 * use_logo: Setting from the theme
 * configuration: More settings from the theme.
 * - id: "system_branding_block"
 * - label: "Site Branding"
 * - use_site_logo: boolean
 * - use_site_name: boolean
 * - use_site_slogan: boolean
 */
#}

{# Set some of the default options for the lockup. #}

{# If the theme has a custom logo. Use that. We can do this by overriding the twig block in lockup.twig #}
{% block cell1 %}

  <div class="su-lockup__logo-wrapper">
    <img class="vpue-lockup__custom-logo" src="/{{ base_path ~ directory }}/dist/assets/svg/vpue-logo.svg" alt="Stanford VPUE Logo" role="img"/>
    <div class="vpue-lockup__su">
      <svg class="su" aria-hidden="true">
        <use xlink:href="/{{ base_path ~ directory }}/dist/assets/svg/Stanford_Cardinal.svg#Layer_1">
          <title>Stanford</title>
        </use>
      </svg>
    </div>
    <div class="vpue-lockup__vpue">
      <svg class="vpue" aria-hidden="true">
        <use xlink:href="/{{ base_path ~ directory }}/dist/assets/svg/Undergrad_Black.svg#Layer_1">
          <title>Undergrad</title>
        </use>
      </svg>
    </div>

    {% if line4 is not empty %}
      <span class="su-lockup__line4" {{ region_attributes.line4 }}>{{ line4 }}</span>
    {% endif %}
  </div>

  <div class="su-lockup__wordmark-wrapper">
    {% if line4 is not empty %}
      <span class="su-lockup__line4" {{ region_attributes.line4 }}>{{ line4 }}</span>
    {% endif %}
  </div>

{% endblock %}



{% extends "@stanford_basic/block/block--system-branding-block.html.twig" %}
